<html>
  <form method="post" action="/new">

    <textarea name="name" placeholder="name" ></textarea>
    <br>
	   <br>
    <textarea name="qty" placeholder="quantity" ></textarea>
    <br>
	   <br>
    <textarea name="amount" placeholder="amount" ></textarea>
    <br>
	
    <input type=submit value="MAKE IT SO">
  </form>